h1,
h2 {
	line-height: 1;
	margin: 0;
}

h2 {
	font-size: 3rem;
	@media (--lg) {
		font-size: 8rem;
	}
}

h3 {
	font-size: 1.75rem;
	@media (--lg) {
		font-size: 2.25rem;
	}
}

a {
	text-decoration: none;
	color: var(--profile);
}

p {
	color: #666;
	line-height: 1.5;
	font-size: 1.15rem;
	font-family: 'Crimson Text', serif;
}
